* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e6d2b5;
    font-family: Georgia, serif;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    position: relative;
}


.heart {
    position: absolute;
    top: 20px;          
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
    max-width: 400px;
    animation: beatHeart 1.2s infinite ease-in-out;
}



@keyframes beatHeart {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.08);
    }
}


.date-box {
    position: absolute;
    top: 42vh;          
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
}

.date-line {
    font-size: 3vw;  
}

.days {
    margin-top: 10px;
    font-size: 4vw; 
}

.bear-left,
.bear-right {
    position: absolute;
    top: 65vh;
    height: 26vh;   
    width: auto;
    animation: fadeBear 2s ease forwards;
}



.bear-left {
    left: 0;
}

.bear-right {
    right: 0;
}


@keyframes fadeBear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

@media (max-width: 480px) {
    .heart {
        top: 18vh;
        width: 90%;
    }

    .date-box {
        top: 63vh;
    }

    .bear-left,
    .bear-right {
        width: 38%;
    }
}

.valentine-img {
    position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 650px;

    opacity: 0;
    transition: opacity 0.8s ease;
}

.valentine-img.show {
    opacity: 1;
}
