body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loveSection,
#letterSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#flowerSection {
    position: relative;
}

.section {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s ease;
}

.section.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
}

.center-wrapper {
    position: relative;
}

.heart {
    transition: opacity 0.6s ease;
}

#letterWrapper {
    position: absolute;
    top: 20px;               
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

#letterWrapper.show {
    opacity: 1;
    pointer-events: auto;
}

.heart.hide {
    opacity: 0;
    pointer-events: none;
}



